body {
    font-family:"游ゴシック体 Medium";
}

* {
    box-sizing: border-box;
}

h1, a, li {
    font-weight: bold;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 1120px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}

.header-li {
    font-size: 17px;
    color: #333333;
    padding: 30px 0 28px 30px;
}

.titleA {
    color: #1F91BE;
    font-size: 32px;
    padding: 22px 0;
}

.top-img {
    background-size: cover;
    padding-bottom: 100px;
    width: 100%;
    height: auto;
}

.left {
    max-width: 100%;
    width: 700px;
}

.left img {
    width: 320px;
    width: 100%;
}

.titleB {
    color: #1F91BE;
    font-size: 32px;
    border-bottom: 4px solid #1F91BE;
    padding-bottom: 9px;
    margin-bottom: 10px;
    font-weight: bold; 
    line-height: 1;
}

.about-contentsA {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.about-contentsB {
    max-width: 320px;
    width: 100%;
    margin-bottom: 70px;
}

.about-ex {
    padding-top: 30px;
    font-size: 16px;
}

.side img {
    width: 300px;
    max-width: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side h1 {
    font-size: 24px;
}

.side-li {
    font-size: 16px;
    padding-bottom: 15px;
    font-weight: bold;
}

.category {
    margin-bottom: 30px;
    padding-top: 10px;
}

.news-date {
    font-size: 14px;
    border-bottom: 1px solid #6f6f6f;
    padding: 20px 0;
    display: flex;
}

.news-date p {
    max-width: 555px;
}

.date {
    padding-right: 48px;
    white-space: nowrap;
}

.news-date span {
    font-weight: bold;

}

.btn-wrapper {
    display: flex;
    justify-content: flex-end;
}

.btn {
    font-size: 14px;
    color: #1F91BE;
    padding: 7px 34px;
    border: 2px solid #1F91BE;
    margin-top: 20px;
    display: inline-block;
    line-height: 1;
}

footer {
    background-color: #C7C7C7;
    width: 100%;
    height: 50px;
    margin-top: 100px;
}

footer p {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    line-height: 50px;

}


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
/*footer,*/ header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    /*background:transparent;*/
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

body {
    /*line-height: 1;*/
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption,/* footer*/, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {  
    margin: 0;  
    padding: 0;  
    border: 0;  
    font-size: 100%;  
    font: inherit;  
    vertical-align: baseline; 
 }


